<section class="section section--col" id="team">   
    <!-- CEO -->
    <div class="card__container">
        <div class="grid__container">
            <div class="grid__row">
                <div class="grid__col-xxl--12 grid__col-xl--12 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 grid__col--flex-row">
                    <div class="card card--team card--ceo" data-aos="fade-up" data-aos-easing="ease-in-out-cubic" data-aos-duration="500">
                        <img class="card__image card__image--team card__image--ceo lazyload" src="{{ 'ceo-john.jpg' | asset_url }}" alt="Track Patch 1 CEO John Resse">

                        <div class="card__content--team card__content--ceo">
                            <h3 class="card__title card__title--ceo">John Reese, CEO</h3>
                            <p class="card__desc card__desc--ceo">John Reese is the inventor of Alerta and is the founder and CEO of Track Patch 1 Corporation. </p>        
                            <div class="btn card__link card__link--ceo">
                                <a class="card__desc" href="https://youtu.be/R7TWv7D3Vh8" data-lity>Watch Video</a>
                                {% render 'icon-video' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <!-- Team memebers -->
    <div class="card__container">
        <div class="grid__container">
            <div class="grid__row">
                <div class="grid__col-xxl--4 grid__col-xl--4 grid__col-lg--4 grid__col-md--4 grid__col-xs--12 grid__col--flex-row">
                    <div class="card card--team">
                        <img data-src="{{ 'team-ken.jpg' | asset_url }}" alt="" class="card__image card__image--team lazyload">
                        <div class="card__content card__content--team">
                            <h4 class="card__title card__title--team">Ken Campbell</h4>
                            <p class="card__desc card__desc--team">Chief Engineer</p>
                        </div>
                    </div>
                </div>
                <div class="grid__col-xxl--4 grid__col-xl--4 grid__col-lg--4 grid__col-md--4 grid__col-xs--12 grid__col--flex-row">
                    <div class="card card--team">
                        <img data-src="{{ 'team-jeff.jpg' | asset_url }}" alt="" class="card__image card__image--team lazyload">
                        <div class="card__content card__content--team">
                            <h4 class="card__title card__title--team">Jeff Seeley</h4>
                            <p class="card__desc card__desc--team">Operations</p>
                        </div>
                    </div>
                </div>
                <div class="grid__col-xxl--4 grid__col-xl--4 grid__col-lg--4 grid__col-md--4 grid__col-xs--12 grid__col--flex-row">
                    <div class="card card--team">
                        <img data-src="{{ 'team-taylor.jpg' | asset_url }}" alt="" class="card__image card__image--team lazyload">
                        <div class="card__content card__content--team">
                            <h4 class="card__title card__title--team">Taylor Wilhelm</h4>
                            <p class="card__desc card__desc--team">Project Manager</p>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="grid__row">
                <div class="grid__col--flex-row grid__col-xxl--4 grid__col-xl--4 grid__col-lg--4 grid__col-md--4 grid__col-xs--12">
                    <div class="card card--team">
                        <img data-src=" {{ 'team-zach.jpg' | asset_url }}" alt="" class="card__image card__image--team lazyload">
                        <div class="card__content card__content--team">
                            <h4 class="card__title card__title--team ">Zachary Roberts</h4>
                            <p class="card__desc card__desc--team ">Marketing Manager</p>
                        </div>
                    </div>    
                </div>
                <div class="grid__col--flex-row grid__col-xxl--4 grid__col-xl--4 grid__col-lg--4 grid__col-md--4 grid__col-xs--12">
                    <div class="card card--team">
                        <img data-src=" {{ 'team-ben.jpg' | asset_url }}" alt="" class="card__image card__image--team lazyload">
                        <div class="card__content card__content--team">
                            <h4 class="card__title card__title--team ">Ben Jung</h4>
                            <p class="card__desc card__desc--team ">Web Developer</p>
                        </div>
                    </div>
                </div>

                <div class="grid__col--flex-row grid__col-xxl--4 grid__col-xl--4 grid__col-lg--4 grid__col-md--4 grid__col-xs--12">
                    <div class="card card--team">
                        <img data-src=" {{ 'team-bob.jpg' | asset_url }}" alt="" class="card__image card__image--team lazyload">
                        <div class="card__content card__content--team">
                            <h4 class="card__title card__title--team ">Bob Groves</h4>
                            <p class="card__desc card__desc--team ">Communication</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
</section>