
<!-- Pricing Option Section-->
<section class="section">
    <div class="grid__container">
        <div class="grid__row grid__row--center">
            <!-- Blank -->   
            <div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--5 grid__col-md--0 grid__col-xs--0 grid__col--flex-col grid__col--product">
                   
            </div>

            <!-- Kit Pricing -->
            <div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--7 grid__col-md--10 grid__col-xs--10 grid__col--flex-col">
                <div class="pricing__container">
                    <!-- Title -->
                    <h2 class="pricing__title">{{section.settings.pricing_kit_title}}</h2>
                   
                    <!-- Options -->
                    <div class="pricing__content">
                        <h3 class="pricing__desc pricing__desc--option pricing__desc--wedge"><span class="pricing__number">1</span> Alerta Wedge</h3>
                        <h3 class="pricing__desc pricing__desc--option pricing__desc--plus">+</h3>
                        <h3 class="pricing__desc pricing__desc--option pricing__desc--patch">1 Alerta Patch</h3>
                        <h3 class="pricing__desc pricing__desc--option pricing__desc--plus">+</h3>
                        <h3 class="pricing__desc pricing__desc--option pricing__desc--supply">Additional Patch<br>Supply</h3>


                         <!-- Wedge Image -->
                        <div class="pricing__image pricing__image--wedge">
                            <img class="pricing__image--option" src="{{section.settings.pricing_kit_wedge_image | img_url: 'master'}}" alt="">
                        </div>
                        <!-- Patch Image -->
                        <div class="pricing__image pricing__image--patch">
                            <img class="pricing__image--option" src="{{section.settings.pricing_kit_patch_image | img_url: 'master'}}" alt="">
                        </div>
                        
                        
                        <h6 class="pricing__label pricing__label--30">(30-day Use)</h6>


                        {% for variant in product_kit.variants %}
                        {% if variant.inventory_quantity != 0 %}
                            <!-- Option image -->
                            <div class="pricing__image pricing__image--sub">
                                {% if variant.image %}
                                <img class="pricing__image--option" src="{{ variant.image.src | img_url: 'master'}}" alt="">
                                {% else %}
                                <div class="pricing__image--blank"></div>
                                {% endif %}
                            </div>    

                            <!-- Radio button -->
                            <div class="pricing__action">     
                                <input class="pricing__radio pricing__radio--kit" 
                                type="radio" 
                                name="kit-option" 
                                value="{{ variant.id }}" 
                                index="{{ forloop.index }}"
                                price="{{ variant.price }}"
                                product-name="{{product_kit.title}}({{variant.title}})"
                                sku="{{ variant.sku }}"
                                {% if forloop.first %} checked {% endif %}>
                                <h3 class="pricing__label pricing__label--small">{{ variant.title }}</h3>
                            </div>

                            {% endif %}
                        {% endfor %}

                    </div>  

                                      
                </div>

                <div class="pricing__container">
                    {% render 'icon-divider' %}
                <div>
            </div>
        </div>
    </div>
</section>
