{% assign is_custom_option = section.settings.product_option %}

<!-- Select Options Template -->
{% if is_custom_option != true %}
    {% if product.variants.size > 1 %}
        {% assign is_single_variant = "" %}    
    {% else %}
        {% assign is_single_variant = "product__wrap--hidden" %}    
    {% endif %}    
{% endif %}


<!-- Product Infomation -->
<div class="grid__col-xxl--6 grid__col-xl--6 grid__col-lg--12 grid__col-md--12 grid__col-xs--12 
            grid__col--flex-row grid__col--flex-start-a js-product-info">
    <div class="product__content--single">
        <!-- Reveiw Bedge  -->       
        <div class="product__reviews">
            <h6 class="product__bedge">{{section.settings.product_bedge}}</h6>
            <div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
        </div>
        
        <!-- Logo  -->       
        <img class="product__logo" src="{{section.settings.product_logo | img_url: 'master' }}" alt="Logo of {{product.title}}">    
        
        <!-- Title -->
        {% if section.settings.product_title != '' %}
            <h1 class="product__title product__title--single">{{section.settings.product_title}}</h1>
        {% else %}
            <h1 class="product__title product__title--single">{{product.title}}</h1>
        {% endif %}

        <!-- Description or Summary -->
        {% if section.settings.product_summary_col %}
            {% assign has_col =  'summary--col'%}    
        {% else %}
            {% assign has_col =  '' %}
        {% endif %}

        {% if section.settings.product_summary %}
            <!-- Description -->
            {% if section.settings.product_desc != '' %}
            <h5 class="product__description">{{section.settings.product_desc}}</h5>
            {% else %}
            <h5 class="product__description">{{product.description}}</h5>  
            {% endif %}
            
            <!-- Summary -->
            <div class="summary {{ has_col }}">
                {% for block in section.blocks %}
                    {% if block.type == "summary" %}
                    <div class="list list--small">
                        <div class="list__dot">
                            {% render 'icon-dot' %}
                        </div> 
                        <h5 class="list__description">{{block.settings.summary}}</h5>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {% if section.settings.product_desc != '' %}
                <h5 class="product__description">{{section.settings.product_desc}}</h5>
                {% else %}
                <h5 class="product__description">{{product.description}}</h5>  
            {% endif %}    
        {% endif %}

        <div id="newcart"></div>
 
        <!-- Event -->
        <div class="product__event">
            {% for block in section.blocks %}
                {% if block.type == 'event' %}
                    <div class="product__event--container">
                        <img class="lazyload product__event--img" data-src="{{block.settings.event_image | img_url: '70x'}}">    
                        <h6 class="product__event--text">{{block.settings.event_name}}</h6>
                    </div>        
                {% endif %}
            {% endfor %}
            
        </div>
        
    </div>
</div>

{{ "cart.bundle.js" | asset_url | script_tag }}